.ut-content {
    max-height: 100% !important;
}

.phone .ea-dialog-view--msg {
    padding: 1rem !important;
}

input[type="number"] {
    border-radius: 0;
    padding: 0 .5em;
    background-color: #262c38;
    border: 1px solid #4ee6eb;
    box-sizing: border-box;
    color: #4ee6eb;
    font-family: UltimateTeam, sans-serif;
    font-size: 1em;
    height: 2.8em;
    opacity: 1;
    width: 100%;
}

.listFUTItem.selected .rowContent {
    background-color: #394754 !important;
}



.ut-transfer-list-view .sectioned-item-list .itemList {
    background-color: #2b3540;
    border-bottom: 1px solid #556c95;
}

.listFUTItem {
    flex-direction: column;
}

.listFUTItem .auction {
    top: 15px !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1
    }

    .double-column {
        flex: 2
    }

    .triple-column {
        flex: 3
    }
}

.loading-progress {
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading-progress 1.4s infinite;
    animation-timing-function: ease-in-out;
}

.ut-transfer-list-view .player-definition-id {
    display: none;
}

.SquadPanel.SBCSquadPanel .ut-pack-graphic-view {
    display: none;
}

.SquadPanel.SBCSquadPanel .ut-sbc-rewards-carousel.rewards-container {
    padding-top: 0;
}

.SquadPanel.SBCSquadPanel .ut-sbc-rewards-carousel.rewards-container .title {
    font-size: 1rem;
}

@keyframes loading-progress {
    0% {
        opacity: 1;
        width: 0;
    }

    100% {
        opacity: 0;
        width: 100%;
    }
}